@font-face {
    font-family: 'Arimo';
    src: url("../fonts/Arimo-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Arimo-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Arimo-Regular.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Arimo-Regular.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Arimo-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Arimo-Regular.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Arimo-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

.background {
    background-color: #3a4965;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.table {
    color:  #484848;
    font-size: 16px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

.fas {
    font-family: 'FontAwesome';
    color:  #848484;
    font-size: 24px;
    margin-bottom: 8px;
}

.far {
    font-family: 'FontAwesome';
    color:  #848484;
    font-size: 24px;
    margin-bottom: 8px;
}

.firstcolumnrow-text {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}

.categories-row:first-child .plan-column {
    padding: 36px 0;
    background-color: #fafafa;
    font-size: 20px;
    font-weight: 700;
}

.categories-row .categories-column-dark {
    padding: 36px 0;
    font-size: 20px;
    font-weight: 700;
}

.categories-row .categories-column-light {
    padding: 36px 0;
    font-size: 20px;
    font-weight: 700;
}

.plan-row:first-child .plan-column {
   padding: 60px 0 ;
   font-size: 16px;
}

.plan-row .categories-column-dark {
    padding: 60px 0;
    font-size: 16px;
}

.plan-row .categories-column-light {
    padding: 60px 0;
    font-size: 16px;
}

.plan-column {
    width: 198px;
    vertical-align: middle;
}

.categories-column-dark {
    width: 157px;
    background-color: #e3e3e3;
    vertical-align: middle;
    box-shadow: inset 0px 2px 5px -2px rgba(0, 0, 0, 0.2);
}

.categories-column-light {
    width: 157px;
    background-color:  #f2f2f2;
    vertical-align: middle;
    box-shadow: inset 0px 2px 5px -2px rgba(0, 0, 0, 0.2);
}

.pricingplan-column-standard {
    background-color: #89c331;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
}
 
.pricingplan-column-ultimate {
    background-color: #f04a56;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
}
 
.pricingplan-column-premium {
    background-color: #20807c;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.categories-values {
    margin-top: 8px;
}

.price-text {
    font-size: 36px;
    margin-top: 14px;
    margin-left: 25px;
    float: left;
}

.price-textsup {
    font-size: 18px;
    margin-top: 18px;
    float: left;
}

.price-textsub {
    font-size: 14px;
    display: inline-block;
    margin-top: 32px;
    margin-right: 15px;
}

.button {
    border-radius: 5px;
    background-color:  #414141;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border: 0;
    outline: 0;
    margin-top: 16px;
    box-shadow: 0px 4px 0px #343434, 
    0px 3px 15px rgba(0,0,0,.4), 
    inset 0px 1px 0px rgba(255,255,255,.3), 
    inset 0px 0px 3px rgba(255,255,255,.5);
}

.button:hover {
    background-color: rgb(10, 10, 10);
    transition-duration: 0.4s;
}

.button:active {
    position: relative;
    top: 4px;
}