html, body {
    height: 100%;
}

.background {
    background-color: #3a4965;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    background-color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color:  #484848;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fas {
    font-family: 'FontAwesome';
    color:  #848484;
    font-size: 24px;
    margin-right: 12px;
}

.far {
    font-family: 'FontAwesome';
    color:  #848484;
    font-size: 24px;
    margin-right: 12px;
}

.pricingplan-row .categories-column {
    padding: 18px 0;
    background-color: #fafafa;
    font-weight: 700;
    vertical-align: middle;
}

.pricingplan-row .pricingplan-column {
    padding: 18px 0;
    font-weight: 700;
}

.price-row .categories-column {
    padding: 12px 0;
    background-color: #fafafa;
    font-weight: 700;
    vertical-align: middle;
}

.price-row .pricingplan-column  {
    padding: 12px 0;
    background-color: #fafafa;
    font-weight: 700;
}

.data-row .categories-column {
   padding: 22px 0;
   width: 310px;
    vertical-align: middle;
} 

.data-row .pricingplan-column {
    padding: 22px 0;
}

.data-row-dark  .categories-column {
    padding: 22px 0;
    background-color: #e3e3e3;
    width: 310px;
    vertical-align: middle;
} 

.data-row-dark  .pricingplan-column {
    padding: 22px 0;
    background-color: #e3e3e3;
}

.button-row .categories-column {
   padding: 22px 0;
   font-weight: 700;
}

.button-row .pricingplan-column {
    padding: 22px 0;
    font-weight: 700;
}

.pricingplan-column {
    width: 277px;
    box-shadow: inset 2px 0px 5px -2px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.categories-column:first-child {
    font-size: 18px;
}

.firstcolumnrow-bigtext {
    font-size: 30px;
}

.pricingplan-column-standard {
    background-color: #89c331;
    color:  #ffffff;
    font-size: 24px;
}
 
.pricingplan-column-ultimate {
    background-color: #f04a56;
    color:  #ffffff;
    font-size: 30px;
}
 
.pricingplan-column-premium {
    background-color: #20807c;
    color:  #ffffff;
    font-size: 24px;
}

.price-text {
    font-size: 60px;
   float: left;
   margin-left: 35px;
}

.price-textsup {
    font-size: 24px;
    float: left;
    width: 35px;
    margin-top: 4px;
}

.price-textsub {
    font-size: 18px;
    display: inline-block;
    font-weight: 400;
    margin: 7px 30px 0px 0px;
}

.button-contact-box {
    background-color: #dddddd;
}

.button-contact {
    border-radius: 5px;
    background-color:  #484848;
    padding: 15px 40px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    outline: 0;
    box-shadow: 0px 7px 0px #404040, 
    0px 3px 15px rgba(0,0,0,.4), 
    inset 0px 1px 0px rgba(255,255,255,.3), 
    inset 0px 0px 3px rgba(255,255,255,.5);
}

.button-contact:hover {
    background-color: #1f1f1d;
    transition-duration: 0.4s;
}

.button-contact:active {
  transition-duration: 0.4s;
  position: relative;
  top: 5px;
}

.button-standard-box {
    background-color: #eeeeee;
}

.button-standard {
    border-radius: 5px;
    background-color:  #89c331;
    padding: 15px 55px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    outline: 0;
    box-shadow: 0px 7px 0px #79b027, 
    0px 3px 15px rgba(0,0,0,.4), 
    inset 0px 1px 0px rgba(255,255,255,.3), 
    inset 0px 0px 3px rgba(255,255,255,.5);
}

.button-standard:hover {
    background-color: #4f7e09;
    transition-duration: 0.4s;
}

.button-standard:active {
    transition-duration: 0.4s;
    position: relative;
    top: 5px;
}

.button-ultimate-box {
    background-color: #f4f4f4;
}

.button-ultimate {
    border-radius: 5px;
    background-color:  #f04a56;
    padding: 15px 55px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    outline: 0;
    box-shadow: 0px 7px 0px #df3a46, 
    0px 3px 15px rgba(0,0,0,.4), 
    inset 0px 1px 0px rgba(255,255,255,.3), 
    inset 0px 0px 3px rgba(255,255,255,.5);
}

.button-ultimate:hover {
    background-color: #f40819;
    transition-duration: 0.4s;
}

.button-ultimate:active {
    transition-duration: 0.4s;
    position: relative;
    top: 5px;
}

.button-premium-box {
    background-color:  #eeeeee;
}

.button-premium {
    border-radius: 5px;
    background-color:  #20807c;
    padding: 15px 55px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    outline: 0;
    box-shadow: 0px 7px 0px #16736f,
    0px 3px 15px rgba(0,0,0,.4),
    inset 0px 1px 0px rgba(255,255,255,.3),
    inset 0px 0px 3px rgba(255,255,255,.5);
}

.button-premium:hover {
    background-color: #045d59;
    transition-duration: 0.4s;
}

.button-premium:active {
    transition-duration: 0.4s;
    position: relative;
    top: 5px;
}